.graph {
    align-items: end;
    display: flex;
    gap: 0.5rem;
    height: 500px;
    overflow-x: scroll;
    width: 100%;
}

.bar {
    align-items: center;
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: space-between;
    overflow: hidden;
    width: 3rem;
}

.bar .percentage {
    margin: 0.5rem 0;
}

.bar .name {
    margin: 0.5rem 0;
    writing-mode: vertical-lr; /* this is just for chrome where the next line isn't supported */
    writing-mode: sideways-lr; /* this is better */
}
