.graph {
    display: flex;
    gap: 0.5rem;
    height: 500px;
    width: 100%;
    overflow-x: scroll;
}

.bar {
    background-color: rgb(150, 202, 211);
    flex-shrink: 1;
    writing-mode: sideways-lr;
}
