.timers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.timer.focus input[type=text] {
    font-weight: bold;
}

.timer.focus .time {
    font-weight: bold;
}

.timer input[type=text] {
    flex-grow: 1;
    background-color: none;
}
