:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0 0.5rem;
}

body, body.theme-classic {
    --background-color: white;
    --button-background-color: #E9E9ED;
    --button-text-color: var(--text-color);
    --border-color: #8F8F9D;
    --input-text-color: var(--text-color);
    --text-color: black;
    --highlight-color: rgb(150, 202, 211);
}

body.theme-goth {
    --background-color: black;
    --button-text-color: black;
    --button-background-color: var(--highlight-color);
    --border-color: #E9E9ED;
    --input-text-color: black;
    --text-color: white;
    --highlight-color: #a696d3;
}

body.theme-toilet-bowl {
    --background-color: white;
    --button-background-color: #a4918c69;
    --border-color: rgb(87, 66, 55);
    --text-color: rgb(76, 52, 40);
    --highlight-color: #d9d056;
}

body.theme-british-sky {
    --background-color: #E9E9ED;
    --button-background-color: white;
    --border-color: black;
    --text-color: black;
    --highlight-color: white;
}

button, select {
    background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
    color: var(--button-text-color);
}

button:focus, input:focus, select:focus {
    outline: 1px solid var(--highlight-color);
}

input {
    border: 1px solid var(--border-color);
    color: var(--input-text-color);
}
