:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
}

::selection {
    background-color: var(--selection-background-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0 0.5rem;

    --button-text-color: var(--text-color);
    --highlight-text-color: var(--text-color);
    --input-text-color: var(--text-color);
    --selection-background-color: var(--highlight-background-color);
}

body, body.theme-classic {
    --background-color: white;
    --button-background-color: #E9E9ED;
    --border-color: #8F8F9D;
    --input-background-color: white;
    --text-color: black;
    --highlight-background-color: rgb(150, 202, 211);
}

body.theme-goth {
    --purple: #a696d3;

    --background-color: black;
    --border-color: white;
    --text-color: white;

    --button-background-color: var(--purple);
    --button-text-color: black;
    --input-text-color: black;
    --input-background-color: white;

    --highlight-text-color: black;
    --highlight-background-color: var(--purple);
}

body.theme-toilet-bowl {
    --background-color: white;
    --button-background-color: #d3c2bb;
    --border-color: rgb(78, 60, 51);
    --input-background-color: white;
    --text-color: rgb(78, 60, 51);
    --highlight-background-color: #fffbc4;
}

body.theme-british-sky {
    --background-color: #E9E9ED;
    --button-background-color: white;
    --border-color: black;
    --input-background-color: white;
    --text-color: black;
    --highlight-background-color: white;

    --selection-background-color: #f2f3ae;
}

button, select {
    background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
    color: var(--button-text-color);
}

button:focus, input:focus, select:focus {
    outline: 1px solid var(--highlight-background-color);
}

input {
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    color: var(--input-text-color);
}
